@{
    Layout="_LayoutBase";
}
<div class="page-header header-filter" 
    style='background-image: url("../assets/img/city-profile.jpg"); transform: translate3d(0px, 0px, 0px);' 
    data-parallax="true">
</div>

<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
              @RenderBody()
        </div>
    </div>
</div>