<div class="row">
    <div class="col-md-8">
        <div class="title mb-5">
            <h1>Blog posts</h1>
        </div>

        @foreach(IDocument post in Model.DocumentList(Keys.PageDocuments))
        {
            @Html.Partial("_PostPartial", post)
        }
    </div>

    <div class="col-md-4">
        
        <h1>Tags</h1>

        <div>
            @Html.Partial("_AllTagsAsPillPartial")
        </div>
    </div>
</div>

@if(Model.Bool(Keys.HasPreviousPage)) {
    <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a> 
} 

@if(Model.Bool(Keys.HasNextPage)) {
    <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a> 
}