@model IDocument

@{
    var published = Model.DateTime(BlogKeys.Published);
}

<span class="mr-3"><i class="fa fa-user"></i> @Model.String("Author")</span>
<span><i class="fa fa-calendar"></i> <time datetime="@published.ToString("YYYY-MM-DD")">@(published.ToLongDateString(Context))</time></span>